<!DOCTYPE html>

<html lang="en-GB">

<head>
<title>Contact</title>
  <meta charset="UTF-8">
  <style>
	img {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
		}
	</style>
</head>

<body>
	
<ul class="nav">
  <li><%=link_to 'Home', root_path %></li>
  <li><%=link_to 'About', about_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
</ul>

<h1>Contact</h1>



</body>

</html>